<!doctype html>
<html ng-app="ui.bootstrap.ovd">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/ext/angular.js"></script>
  <script src="/ext/angular-animate.js"></script>
  <script src="/ext/angular-sanitize.js"></script>
  <script src="/ext/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="/ext/jquery.min.js"></script>
  <script src="/ext/bootstrap.min.js"></script>
  <script src="/ext/lodash.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div ng-controller="mainCtrl">
<a href="/main.html"> Main </a>
  <div class="container" ng-if="get_serial_id > 0">
    <div class="row"> <div class="col col-sm-offset-1"><h1><i> {{getSerialById().description}} @ {{getContainerBySerialId().description}}</i></h></div></div>
    <div class="row"> <div class="col"><h2>{{ui.internalDamage}} &nbsp; <a href="/upload.html?serial_id={{ get_serial_id }}&damage_type=1"><span class="glyphicon glyphicon-plus"></h></span></a></div></div>
    <table><tr><td ng-repeat="d in get_damages" ng-if="d.serial_id==get_serial_id && d.type==1">
      <img src="/damages/{{ d.id }}_thumb.jpg" width=50%>
      <BR>
      {{ d.description }}
    </td></tr></table>
    <div class="row"> <div class="col"><h2>{{ui.externalDamage}} &nbsp; <a href="/upload.html?serial_id={{ get_serial_id }}&damage_type=2"><span class="glyphicon glyphicon-plus"></h></span></a></div></div>
    <table><tr><td ng-repeat="d in get_damages" ng-if="d.serial_id==get_serial_id && d.type==2">
      <BR><BR>
      <img src="/damages/{{ d.id }}_thumb.jpg" width=50%><BR>
      {{ d.description }}
    </td></tr></table>
    <div class="row"> <div class="col"><h2>{{ui.labeledDamage}} &nbsp; <a href="/upload.html?serial_id={{ get_serial_id }}&damage_type=3"><span class="glyphicon glyphicon-plus"></h></span></a></div></div>
    <table><tr><td ng-repeat="d in get_damages" ng-if="d.serial_id==get_serial_id && d.type==3">
      <BR><BR>
      <img src="/damages/{{ d.id }}_thumb.jpg" width=50%><br>
      {{ d.description }}
    </td></tr></table>
      <BR><BR>
  </div>
  <div class="container" ng-if="get_container_id > 0">
    <div class="row"> <div class="col col-sm-offset-1"><h1><i>{{getContainerById().description}}</i></h></div></div>
    <div class="row"> <div class="col"><h2>{{ui.internalDamage}} &nbsp; <a href="/upload.html?container_id={{ get_container_id }}&damage_type=1"><span class="glyphicon glyphicon-plus"></h></span></a></div></div>
      <table><tr><td ng-repeat="d in get_damages" ng-if="d.container_id==get_container_id && d.type==1">
        <BR><BR>
        <img src="/damages/{{ d.id }}_thumb.jpg" width=50%>
        <BR>
        {{ d.description }}
      </td></tr></table>
      <div class="row"> <div class="col"><h2>{{ui.externalDamage}} &nbsp; <a href="/upload.html?container_id={{ get_container_id }}&damage_type=2"><span class="glyphicon glyphicon-plus"></h></span></a></div></div>
      <table><tr><td ng-repeat="d in get_damages" ng-if="d.container_id==get_container_id && d.type==2">
        <BR><BR>
        <img src="/damages/{{ d.id }}_thumb.jpg" width=50%><BR>
        {{ d.description }}
      </td></tr></table>
    </div>
      <button class="btn btn-sm btn-warning btn-block" ng-click="setSerialStatus(1)" ng-if="getSerialById().status==0">{{ ui.closeSerial }}</button>
      <button class="btn btn-sm btn-primary btn-block" ng-click="setSerialStatus(0)" ng-if="getSerialById().status==1">{{ ui.openSerial }}</button>
  </div>
</div>
</body> </html>

