<!doctype html>
<html ng-app="ui.bootstrap.ovd">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/ext/angular.js"></script>
    <script src="/ext/angular-animate.js"></script>
    <script src="/ext/angular-sanitize.js"></script>
    <script src="/ext/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="/ext/jquery.min.js"></script>
    <script src="/ext/bootstrap.min.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

<div ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
       <i>Welcome</i>
        <a href="#">{{user.lname}}, {{user.fname}} <span class="glyphicon glyphicon-user" ng-style="{'glyphicon.font-size' : '50px'}"</span></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row"> <div class="col col-sm-offset-2"><h2>{{ui.selectWarehouse}}</h></div> </div>
    <div class="row"> <div class="col">
       &nbsp;&nbsp;<select ng-model="selectedWarehouse" value="wh" ng-style="{'width': '50%'}">
          <option ng-repeat="w in warehouse" >{{ w.description }}</option>
        </select>
    </div> </div>
    <div class="row"> <div class="col col-sm-offset-2"><h2>{{ ui.selectContainer }}</h></div> </div>
    <div class="row"> <div class="col">
      &nbsp;&nbsp;<select ng-model="selectedContainer" ng-disabled="!selectedWarehouse" ng-style="{'width': '50%'}">
        <option ng-repeat="c in containers" ng-value="c">{{c.description}}</option>
      </select>
    <br><br>
    </div></div>
  </div>
    <div class="container" ng-if="selectedContainer">
    <div class="row"> <div class="col col-sm-offset-2"><h2>{{ui.selectManifest}}<h></div> </div>
    <div class="row"> <div class="col">
    <input type=checkbox name="showClosed" ng-init="showClosed=false" id="showClosed" ng-model="showClosed"/> {{ui.showClosed}}
        <h3><a href="/damage.html?container_id={{ selectedContainer.id }}">{{ selectedContainer.description }}</a></h>
        <span class="label {{ damages['container'][selectedContainer.id]['types'][1] }}"><span class="glyphicon glyphicon-log-in"></span></span>
        <span class="label {{ damages['container'][selectedContainer.id]['types'][2] }}"><span class="glyphicon glyphicon-log-out"></span></span>
    </div> </div>
    <div class="row" ng-repeat="m in manifests | filter : { container_id:selectedContainer.id } : true" ng-if="selectedContainer">
      <div class="col" ng-if='( ! showClosed && m.status == 0 )  || showClosed '>
        <h3><a href="/damage.html?manifest_id={{ m.id }}">{{ m.description }}</a></h>
        <span class="label {{ damages['manifest'][m.id]['types'][1] }}"><span class="glyphicon glyphicon-log-in"></span></span>
        <span class="label {{ damages['manifest'][m.id]['types'][2] }}"><span class="glyphicon glyphicon-log-out"></span></span>
        <span class="label {{ damages['manifest'][m.id]['types'][3] }}"><span class="glyphicon glyphicon-barcode"></span></span>
      </div>
    </div>
  </div>
  <BR><BR>
  <a href="/logout.php">{{ui.logout}} <span class="glyphicon glyphicon-log-out" ng-style="{'glyphicon.font-size' : '50px'}"</span></a>
</div>
</body> </html>

